.AppBody {
    width: 100%;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.AppBody h2{
    font-size: 1.75rem;
    font-style: italic;
}

@media screen and (max-width: 768px) {
    .AppBody {
        padding: 0.5rem;
        flex-direction: column;
    }
}

@media screen and (min-width: 780px) {
    .AppBody{
        flex-direction: row; 
    }
}